@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.text-outline-md {
  text-shadow: 1px 1px #333;
}
.text-outline-lg {
  text-shadow: 1px 1px #222;
}

.font-outline-2 {
  -webkit-text-stroke: 1px #999;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazirmatn/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazirmatn/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Bkkt";
  src: url("/fonts/bkkt/BonyadeKoodakKoochak-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bkkt";
  src: url("/fonts/bkkt/BonyadeKoodakKoochak-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bkkt";
  src: url("/fonts/bkkt/BonyadeKoodakKoochak-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bkkt";
  src: url("/fonts/bkkt/BonyadeKoodakKoochak-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bkkt";
  src: url("/fonts/bkkt/BonyadeKoodakKoochak-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bkkt";
  src: url("/fonts/bkkt/BonyadeKoodakKoochak-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bkkt";
  src: url("/fonts/bkkt/BonyadeKoodakKoochak-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
